{% extends "base.html" %}
{% load static %}
{% block content1 %}
<div class="row my-2">
    <div class="jumbtron jumbtron-fluid mt-2">
        <h1 class="display4">PLANATE MANAGEMENT GROUP</h1>
        <p class="lead" style="color: green; font-weight: bold;">Junior Robotics Engineer (June 2023 - Present)</p>
        <ul>
            <li style="color: white;">Research and Development</li>
            <li style="color: white;">Experience in Computer Vision Projects and ROS2 Platform</li>
            <li style="color: white;">Developed a GUI Application using Python and PyQt5</li>
            <li style="color: white;">Developed a Mobile Application with login/sign-up screen and database using Flutter, Dart, and Google Firebase</li>
            <li style="color: white;">3D-Modelling using Fusion 360 and Onshape</li>
            <li style="color: white;">Made an Arduino-Based Project and designed hardware and software architecture</li>
            <li style="color: white;">Created course outlines for Robotics Interns and assisted them in their learning</li>
        </ul>
        <p class="lead" style="color: green; font-weight: bold;">Robotics Intern (February 2023 - March 2023)</p>
        <ul>
            <li style="color: white;">Research and Development </li>
            <li style="color: white;">Assisted the robotics engineer in capturing and annotating datasets for a Machine Learning project</li>
            <li style="color: white;">Developed a mobile application using MIT App Inventor</li>
            <li style="color: white;">Python Programming</li>
            <li style="color: white;">Developed a static login screen using Flutter and Dart</li>
        </ul>
        <p class="lead" style="color: green; font-weight: bold;">Freelance Front-End Developer</p>
        <ul>
            <li style="color: white;">Created static websites for clients (restaurant and coffee shop)</li>
            <li style="color: white;">Built a POS system for a client using C++</li>
        </ul>
    </div>
</div>
{% endblock content1 %}
